/* CSS Document */

* {
	padding:0;
	margin:0;
}
body {
	background:url(images/backgroundl.jpg) fixed no-repeat #191919;
	background-position:center top;
}
.clear {
	clear:both
}
#wrap {
	width:1180px;
	height: 150px;
	padding:0 10px;
	margin:0 auto;
	position:relative;
}
#header {
	width:1180px;
	height:210px;
}

#board{
	width:1180px;
	height: 300px;
	background-color: #000;

}
h2#logo {
	background:url(images/logo.png) no-repeat;
	/* font:chalkduster */
	width:250px;
	height:130px;
	text-indent:-999px;
	position:relative;
	top:55px;
	left: 50px;
}
ul#nav {
	position:relative;
	left:380px;
	top:-40px;
}
ul#nav li {
	float:left;
	list-style:none;
	height:80px;
}
ul#nav li a {
	display:block;
	height:80px;
	outline:none;
	text-indent:-9999px;
	background:url(images/navigation.png) no-repeat;

}
ul#nav li a#blog {
	width:90px;
	margin-right:14px
}
ul#nav li a:hover#blog {
	position:relative;
	top:-3px;
}
ul#nav li a#gallery {
	background-position:-95px 0;
	width:165px;
}
ul#nav li a:hover#gallery {
	position:relative;
	top:-3px;
}


#testimonials {
	height:283px;
	width:1180px;
	background:url(images/testimonials-bg.png) no-repeat;
	margin-left: 35px;

}
#testimonials h2 {
	background:url(images/whatsinmymind.png) no-repeat;
	width:369px;
	height:35px;
	position:relative;
	top:6px;
	left:42px;
	text-indent:-9999px;
}
#testimonials .col {
	float:left;
	width:230px;
	padding:40px;
	font-family:georgia;
	font-size:14px;
	font-style:italic;
	text-shadow:0 1px 1px #000;
	color:#424242;
	line-height:20px;
}
#quotes {
	background:url(images/quotes-bg.png) no-repeat;
	width:1180px;
	height:481px;
	position:relative;
	top:-50px;
	margin-left: 80px;
}
p#quote-1 {
	background:url(images/quote-1.png) no-repeat;
	width::80px;
	height:199px;
	position:relative;
	top:100px;
	left:500px;
	text-indent:-9999px;
}
p#quote-2 {
	background:url(images/quote-2.png);
	width:575px;
	height:141px;
	position:relative;
	top:100px;
	left:342px;
	text-indent:-9999px;
}

/*dynamically added*/
div.wrapper {
	width:218px;
	height:218px;
	overflow:hidden;
	position:relative;
	background:#000000;
}
div.caption {
	font-family:arial;
	font-weight:bold;
	font-size:16px;
	position:relative;
	text-align:center;
	padding:45px 15px 15px 15px;
	background:url(images/caption-bg.png) repeat-x;
	min-height:125px;
	color:#d20000;
	text-shadow:0 1px 1px #999;
	text-transform:capitalize;
	line-height:16px;
}
